body {
    background-color:#000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.flex-container1{
    display:flex;

}

.flex-container1 > div {
margin: 10px;
padding: 20px;
}
 
.imagem-foto >img{
    background-color:#6b705c;
    padding: 15px;
    width: 400px;
    height: 400px;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   

}

.letra-grande{
    color: #6b705c;
    font-size: 80px;

}

.letra-pequena{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}



.texto-centralizado{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    
    
  }


 div.solid{    
    text-align: center;
    font-size: 20px;
    padding: 25px;
    margin-bottom: 50px;
    border-style: solid;
    max-width: 8%;
    max-height: 15%;
 }

 b{
    color:#6b705c;
 }

.texto-portifolio{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 220px;
    margin-left: 20px;
    max-width: 8%;
    max-height: 15%;


}

.flex-container2{
    display: flex;
    flex-direction: row;
    gap: 150px;
    }


    .flex-container2 >div img {
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 20px;
    
    }
    

h3{
margin: 25px;

}

h4{
    text-align: center;
    margin-bottom: 50px;
}


